body {
  margin: 0;
}

#body {
  padding: 16px;
  width: 100%;
}

#calcprice {
  display: table;
  margin: 0 auto;
}

#calcotd {
  display: table;
  margin: 0 auto;
}

#titlebar {
  text-align: center;
  height: 50px;
  vertical-align: middle;
}

#dropbar {
  text-align: center;
}

h2, h3 {
  display: inline;
}
