body {
  margin: 0;
}

#body {
  margin: auto;
  width: 480px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.12);
}

#titlebar {
  height: 50px;
  margin: auto;
  background-color: #00798c;
}

#title {
  line-height: 50px;
  margin: 0px;
}

#dropbar {
  margin: auto;
  margin-top: 16px;
}

.tab {
  width: 240px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  background-color: #a0c1d1;
}

#header {
  text-align: center;
  margin-bottom: 16px;
}

h2, h3 {
  display: inline;
}

.row {
  padding: 10px;
}

.left {
  float: left;
}

.right {
  display: block;
  text-align: right;
}

.radiobox {
  margin-left: auto;
  margin-right: 0px;
  display: inline-block;
  text-align: left;
}